<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand ms-2" href="#">Chatroom</a>

      <form class="d-flex form-search me-auto" role="search">
        <div class="input-group search">
          <input class="form-control input-search" type="search" placeholder="Search User" aria-label="Search">
          <button class="btn btn-search" type="button">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          </button>
        </div> 
      </form>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-2">
          <a class="nav-link nav-notification" href="#">
            <i class="fa-solid fa-bell" style="color: #ffffff;"></i>
          </a>
        </li>

        <li class="nav-item me-2">
          <a class="nav-link nav-user" href="#">
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          </a>
        </li>
      </ul>

    </div>
    </div>
  </nav>
</header>