<div class="d-flex text-white border-bottom py-4 mx-4">
  <h4>Chatrooms List</h4>
</div>

<div class="container-fluid chatrooms-list">
  <div class="row row-cols-1 row-cols-md-4 g-4 p-4">
    {{#each publicChatrooms}}
    <div class="col">
      <a href="/chatroom/public/{{this.name}}" class="text-decoration-none text-reset">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>