<div class="container">
  <ul class="search-list list-group col-5">
    <li class="list-group-item">
      <h4>Search User</h4>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          <div class="search-user-avatar">
            <img src="https://i.imgur.com/VUhtTKV.png" onerror="this.src='https://i.imgur.com/VUhtTKV.png'"
              data-bs-toggle="modal" data-bs-target="#show-modal">
          </div>
        </div>
        <div class="col-8">
          <div class="search-user-info">
            <h4 data-bs-toggle="modal" data-bs-target="#show-modal">allen huang</h4>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          <div class="search-user-avatar">
            <img src="https://i.imgur.com/VUhtTKV.png" onerror="this.src='https://i.imgur.com/VUhtTKV.png'">
          </div>
        </div>
        <div class="col-8">
          <div class="search-user-info">
            <h4>allen huang</h4>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>

{{> modal/modal-show}}