<div class="sidebar">
  <div class="sidebar-center">
    <ul class="list">
      <li class="list-item {{#ifCond route '1on1'}}active{{/ifCond}}">
        <i class="list-item-icon fa-solid fa-comment"></i>
        <span class="list-item-text">1 on 1</span>
      </li>
      <li class="list-item {{#ifCond route 'rooms'}}active{{/ifCond}}">
        <i class="list-item-icon fa-solid fa-comments"></i>
        <span class="list-item-text">Rooms</span>
      </li>
      <li class="list-item {{#ifCond route 'search'}}active{{/ifCond}}">
        <a href="/search">
          <i class="list-item-icon fa-solid fa-search"></i>
          <span class="list-item-text">Search</span>
        </a>
      </li>
      <li class="list-item {{#ifCond route 'friends'}}active{{/ifCond}}">
        <a href="/friends">
          <i class="list-item-icon fa-solid fa-heart"></i>
          <span class="list-item-text">Friends</span>
        </a>
      </li>
    </ul>
  </div>
</div>