{{>sidebar route = (lookupPartial partialName)}}

<div class="w-100 content-center">
    {{> (lookupPartial partialName)}}
</div>

{{!-- <script src="/javascripts/socketConnect.js"></script> --}}


{{!-- {{#ifCond partialName "room"}}
<script type="module" src="/javascripts/socket.js"></script>
<script src="/javascripts/room.js"></script>
{{/ifCond}} --}}


