<div class="signin-container row m-auto justify-content-center align-items-cneter rounded-5 p-3 bg-light shadow">
  <form action="" class="signin-form">
    <h1 class="text-center">Chatroom</h1>
    <h4 class="text-center">Register</h4>

    <div class="mb-3 mt-5">
      <label for="InputEmail" class="form-label">Email</label>
      <input type="email" class="form-control rounded-4" id="InputEmail" name="email">
    </div>

    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password" class="form-control rounded-4" id="InputPassword" name="password">
    </div>

    <div class="mb-3">
      <label for="InputConfirmPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control rounded-4" id="InputConfirmPassword" name="confirmPassword">
    </div>

    <button type="submit" class="btn btn-primary btn-signin mt-4 w-100 rounded-4">Register</button>

    <div class="register-link text-center mt-2">
      <p>Already have an account?<a href="/signin">Login here</a></p>
  </form>

</div>