* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f253d;
  overflow: hidden;
}

header {
  height: 60px;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100% - 60px);
}

/* height */

.h-40px {
  height: 40px;
}

.h-52px {
  height: 52px;
}

.h-\[calc\(100vh-180px\)\] {
  height: calc(100vh - 180px);
}

.h-\[calc\(100vh-163px\)\] {
  height: calc(100vh - 163px);
}

/* width */
.w-40px {
  width: 40px;
}

.min-w-175px {
  min-width: 175px;
}

/* border */
.border-top-end-radius {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-end-end-radius: 30px;
}

.border-top-start-radius {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* font-size */
.fs-sm {
  font-size: small;
}

/* background-color */
.bg-dark-blue {
  background-color: #1f253d;
}

/* object-cover */
.object-cover {
  object-fit: cover;
}

.btn-regular:hover {
  background-color: #374151;
}

/* -------------------- Navbar -------------------- */
.navbar {
  height: 60px;
  background-color: #111827;
  color: #9ca3af;
}

.nav-left .logo {
  width: 30px;
  font-size: 20px;
}

.nav-left .brand {
  text-decoration: none;
  color: #9ca3af;
  font-size: 20px;
  font-weight: 500;
}

.nav-right {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24px;
}

.nav-right .nav-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.nav-right .nav-notification:hover {
  background-color: #374151;
}

.nav-right .nav-item i {
  color: #fff;
}

.nav-right .nav-item img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

/* -------------------- signin page -------------------- */
.signin-container {
  width: 25%;
  min-width: min-content;
}

.signin-container .register-link {
  font-size: 14.5px;
}

.signin-container p a {
  text-decoration: none;
  font-weight: 600;
}

.signin-container p a:hover {
  text-decoration: underline;
}

/* -------------------- signup page -------------------- */
.input-item {
  position: relative;
}

.input-minmax {
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: 500;
  color: brown;
}

/* -------------------- profile page -------------------- */

/* Profile container */
.profile-container {
  margin: 20px 0;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.profile-img-block {
  text-align: center;
}

.profile-user-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}


/* -------------------- sidebar-------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  background-color: #111827;
  color: #9ca3af;
}

.sidebar-center {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 10px;
}

.sidebar-center .list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.sidebar-center .list-item {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}


.sidebar-center .list-item-icon {
  width: 30px;
  font-size: 20px;
}

.sidebar-center .list-item.active,
.sidebar-center .list-item:hover {
  background-color: #374151;
  color: white;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 50px;
  }

  .sidebar-center .list-item-text {
    display: none;
  }
}

/* -------------------- search -------------------- */
.search {
  min-width: 450px;
  border: 1px solid #9ca3af;
}

.search-top {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 20px;
}

.search-top h4 {
  color: #9ca3af;
}

.form-search .search-bar {
  border-radius: 50px;
  border: 1px solid #EEEEEE;
}

.form-search .search-bar .input-search {
  border-radius: 50px;
}

.btn-search {
  border-radius: 50px;
}

.btn-search:hover {
  background-color: #374151;
}

.search-center {
  height: 80%;
}

.search-center h5 {
  padding-left: 32px;
}

.search-list,
.search-list-item {
  margin-top: 10px;
}

.search-list {
  padding: 0px 32px;
  height: 100%;
  overflow-y: auto;
}

.search-list-item {
  height: 80px;
  border-top: 1px solid #9ca3af;
}

.search-user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.search-user-name {
  color: #9ca3af;
  cursor: pointer;
}

.none-pointer-friend-btn {
  pointer-events: none;

}

/* -------------------- friends -------------------- */
.friends .nav-link:not(.active) {
  color: white;
}

.friends .nav-tabs {
  height: 42px;
}

.friends h5 {
  height: 24px;
}

.friends .content {
  height: 75%;
  overflow-y: auto;
}

.friends .list,
.friends .list-item {
  margin-top: 10px;
}

.friends .list {
  padding: 0px 32px 0px 0px;
}

.friends .list-item {
  height: 80px;
  border-top: 1px solid #9ca3af;
}

.friends .user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.friends .user-name {
  color: #9ca3af;
  cursor: pointer;
}

.friends .friend-btn {
  display: flex;
  /* 設定按鈕之間的間距 */
  gap: 10px;
}

/* -------------------- Chatrooms list -------------------- */
.chatrooms-list .card:hover {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
}

/* --------------------rooms -------------------- */

.chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatroom #form {
  background: rgba(0, 0, 0, 0.15);
  height: 4rem;
}

.chatroom #input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

.chatroom #input:focus {
  outline: none;
}

.chatroom #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .chatroom #messages>li {
  padding: 0.5rem 1rem;
} */

/* .chatroom #messages>li:nth-child(odd) {
  background: #efefef;
} */

.chatroom .user-avatar img {
  width: 40px;
  height: 40px;
}


/* -------------------- Modals -------------------- */
/* --------------------Modal Edit -------------------- */
.user-edit-modal .modal-body>.avatar-edit {
  position: relative;
  text-align: center;
  margin-top: 12px;
}

.user-edit-modal .modal-body .avatar-img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.user-edit-modal .modal-body>.avatar-edit>.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-edit-modal .modal-body>.avatar-edit>.avatar>.form-label {
  margin: 0;
  top: 0;
  color: #FFFFFF;
  cursor: pointer;
}

.user-edit-modal .modal-body>.avatar-edit>.avatar>.form-control {
  top: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.user-edit-modal .modal-body>.form-text {
  margin: 16px;
}

.user-edit-modal .modal-body>.form-text .name-amount,
.user-edit-modal .modal-body>.form-text .introduction-amount {
  text-align: right;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #696974;
}


/* -------------------- Partial Messages -------------------- */
.message-wrapper {
  position: relative;
  left: -32px;
}

.message-text {
  width: 300px;
  padding-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.light-green-message,
.danger-message,
.warning-message,
.light-blue-message {
  position: relative;
  width: 394px;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light-green-message::before,
.danger-message::before,
.warning-message::before,
.light-blue-message::before {
  position: absolute;
  right: 24px;
  width: 56px;
  height: 56px;
  content: '';
  border-radius: 50%;
}

.light-green-message::before {
  border: 2px solid var(--light-green);
}

.danger-message::before {
  border: 2px solid var(--danger);
}

.warning-message::before {
  border: 2px solid var(--warning);
}

.light-blue-message::before {
  border: 2px solid var(--light-blue);
}

.danger-icon,
.light-green-icon,
.warning-icon,
.light-blue-icon {
  position: absolute;
  transform: scale(0.5);
}

.light-green-icon {
  right: 35px;
  color: var(--light-green);
}

.danger-icon {
  right: 38px;
  color: var(--danger);
}

.warning-icon {
  right: 49px;
  color: var(--warning);
}

.light-blue-icon {
  right: 48px;
  color: var(--light-blue);
}